* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
  background-image: url(Images/itheme2-body-bg.jpg);
  color: #f1f1f1;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}


.content.img {
    width: 300px;
    border: 2px;
    min-height: 300px;
}

img.img1 {
    position: absolute;
    left: 600px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center ;
}

.nameDiv{
    left: 600px;
    position: absolute;
    font-size: 70px;
    word-break: break-all;
    align-items: center ;
    display: flex;
}


.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

p {
    font: italic small-caps bold 12px/30px Georgia, serif;
  }

footer {
    text-align: center;
    padding: 3px;
    color: white;
  }

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  color: black;
  
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
