body {
  background-color: #efefef;
  color: #464545;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  direction: rtl;

}

span {
  padding: 29px 10px 0;
  display: block;
  font-size: 20px;
  color: #464545;
  font-weight: 700;
  margin-top: 10px;
}

.app {
  width: 77%;
  margin: 0 auto;

}

header {
  display: flex;
  flex-direction: row;
}

header>img {
  margin-top: 10px;
  width: 80px;
  height: 66px;

}

nav {
  margin-top: 20px;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 2px solid #464545;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav>ul>li {
  display: inline;
  padding: 5px 30px 5px 30px;
}

nav>ul>li>a {
  text-decoration: none;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #222;
  font-size: 20px;
  white-space: nowrap;
}

nav>ul>li>a:hover {
  border-bottom: 2px solid #464545;
}

.login {
  float: left;

}

.login>img {
  width: 25px;
  height: 25px;
}

.breadcrumb {
  margin-top: 20px;
  width: 100%;
}

.breadcrumb>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumb>ul>li {
  display: inline;
  padding: 5px;
}

.breadcrumb>ul>li>a {
  color: #496A76;
  text-decoration: none;
}

footer {
  width: 100%;
  border-top: 4px solid #464545;
}

.foot>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}


.foot>ul>li {
  display: inline;
  padding-left: 10px;
  padding-right: 3px;
  border-left: 1px solid #464545;
}

.foot>ul>li>a {
  color: #496A76;
  text-decoration: none;
}

footer>p {
  width: 350px;
  line-height: 20px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 40px;
}

.le-footer {
  float: left;
}

.le-footer>h3 {
  line-height: 20px;
  font-weight: bold;
  margin-top: 0;
}

.le-footer>h3>img {
  float: right;
  display: block;
  margin: 8px 0 0 10px;
}

.le-footer>h3>span {
  display: block;
  font-weight: normal;
}

.le-footer >h3>a{
  color: #464545;
  text-decoration: none;
}