.q-component{
    width: 40%;
    min-width: fit-content;
    align-items: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    
}
.all-answers{
    display: grid;
    grid-template-columns:  auto auto;
    
}

.question-text{
    padding: 10%;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}