/* .container-gifts{
    display: flex;
    margin: 5%;
    align-items: center;
}
.container-gifts>img{
    width : 100px;
    height : 100px;
    margin-right :3%;
    margin-left :3%;
} */

.login-container{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
}

.login-container>*{
    margin-top: 2%;
}

.active { 
    /* position: relative; */
    width : fit-content;
    height : fit-content;
    border: 2px solid #15151a ;
    background-color: rgb(187, 146, 71);
    padding: 1%;
    margin-left: 20%;
}