#soccer{
    top: 107px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 141px;           
}

button{
    width:200px;
    height:200px;
}
#shaar{
    margin:400px;
}