.trackingBoard{
    text-align: right;
 
  
  width: 70%;

  border: 6px solid white;

  padding: 10px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  box-shadow: 5px 10px 8px 10px #888888;

}
h4{
  text-decoration: underline;
}

