/* header */
#app-header {
  padding: 12px 0 0;
  border-bottom: 2px solid #222;
}
.Cont {
  margin-left: auto;
  margin-right: auto;
  /* *zoom: 1; */

  
  text-align: right;
  direction: rtl;
  margin-top: 20px;
  margin: 0;
    font-family: Alef, Arial;
    font-size: 16px;
    line-height: 20px;
    color: #464545;
    background-color: #efefef;
}





/* footer */
#app-footer {
  border-top: 4px solid #222;
  font-size: 14px;
  background-color: #f5f5f5;
  box-shadow: inset 1px 4px 9px -6px;
  margin-top: 20px;
}
.breadcrumb {
  background: none;
  margin: 10px 0;

  padding: 8px 15px;

  list-style: none;

  border-radius: 4px;
}

ul {
  display: block;
 
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.content-main{

  margin: auto;
  width: 80%;
}

li {
  text-align: -webkit-match-parent;
  display: inline;
  padding: 14px 16px;
}
.breadcrumb > .active {
  color: #707070;
}