.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  
    gap: 0px;
    column-gap: 0px;
}

img{
    border-style: solid;
    border-color: black;
}
