.summaryD{
    text-align: right;
    color:#3D4257 ;
    display: grid;
  grid-template-columns: 30% 70%;
}
p{
    font-size: 14px;
    
}


.backButton{

    display: inline-block;
  width: 90%;
  padding: 10px 20px;
  margin: 10px;

  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#283157;
  border: none;
  border-radius: 15px;
 

}
