.container{
<<<<<<< Updated upstream
width: 20%;
position: relative;
left: 40%; 
/* margin-bottom: 100px; */
direction: rtl;
border: 1px solid #e2e2ea; 
margin-top: 7%;
background-color:#ffffff;
=======
/* width: 20%;
position: relative;
left: 300px; */
/* margin-bottom: 100px; */
>>>>>>> Stashed changes

}

body{
<<<<<<< Updated upstream
  background-color: #fafafa;
  /* width: 20%;
  margin-left: 40%; */
  /* margin-bottom: 300px; */
}

#directir_select{
  font-size: medium;
  margin-top: 5%;
  text-align: right;
  margin-right: 2.5%;
=======
  /* width: 40%;
  margin-left: 30%;
  margin-bottom: 300px;
  height: 30%; */
}

#directir_select{
  margin-top: 40px;
  text-align: right;
  margin-right: 30px;
>>>>>>> Stashed changes
  color: #324483;
}
