.oustide{
    position: relative;
    --background: red;
    width: 200px;
   --flex:0.5;
   min-width: 200px; 
    border:1px solid black;
}

.oustide>img{
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container1{
    display: flex;
    --background-color: blue;
    flex-wrap: wrap;

    margin-bottom:500px;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    
}



h1{
    background-size: contain, cover;
    max-width: 500px;
  margin: auto;
    background-repeat: no-repeat;

    --background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    font-weight: bolder;
    background-color:gray;
    --opacity: 0.6;
    width: cover;
}


