.card{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius: 10px;
    background-color: rgb(2, 16, 138);
    color: white;
    text-align: center;
    padding: 10px 30px;
    animation-name: goRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
     position: relative;
  /* animation-iteration-count: infinite; */
     animation-direction: alternate;
    animation-timing-function: ease-in-out;
    flex-wrap: wrap;
    align-content:stretch;
    width: 500px;;
 
    justify-content: center;
  } 

   
  .card:hover{
      background-color: rgb(163, 101, 25);
  }
   


.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
 
    width: 400px;
    animation-name: goLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
     position: relative;
  /* animation-iteration-count: infinite; */
     animation-direction: alternate;
    animation-timing-function: ease-in-out;
  } 
    

  @keyframes goLeft {
    0% {
      left: 2000px;
    }
    100% {
      left: 0px;
    }
  }
@keyframes goRight {
    0% {
      left: -720px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes change {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 0.5;
    }
}