.App {
  text-align: center;
  
  /* background-image: url(https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/129325364/original/afaddcb9d7dfaaf5bff7ef04101935814665ac16/design-an-attractive-background-for-your-website.png); */
  background-size:100%;
  background-repeat: no-repeat;
  background-color: rgb(233, 230, 230);
}

.my-image {
  border-radius: 50%;
}


.App-header {
  /* min-height: 100vh; */
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


/* .linkedin-link {
  color: #4c9cb3;
} */



.inside{

  position: relative;
  padding: 200px;
  
  
}