* {
  margin: 0;
}
.container {
  width: fit-content;
  margin: 0 auto;
}
.root {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
.item {
  display: flex;
  width: 400px;
  justify-content: space-between;
  border: 1px solid black;
}
