.person {
  color: rgb(0, 113, 148);
}
.item {
  color: rgb(78, 78, 78);
}
.active {
  font-weight: bold;
  color: black;
}
.header {
  width: 99%;
  text-align: right;
}
.header__data {
  display: flex;
}
.header__info {
  display: flex;
  justify-content: space-between;
}
