.recomnde {
  width: 80%;
  margin-top: 50px;
  height: fit-content;
  background-color: white;
  margin-left: 100px;
  text-align: right;
  box-shadow: 0 12px 6px -3px #ccc;
  overflow: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.recomnde::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.recomnde {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.recomend__info {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.select {
  width: 200px;
  height: 30px;
  direction: rtl;
}
.reomnde__FirstHalf {
  text-align: right;
  margin-left: 300px;
  height: 240px;
}
.btn {
  position: relative;
  height: 40px;
  width: 80px;
  cursor: pointer;
  border: 3px solid black;
  top: 70%;
  background-color: white;
  border-radius: 5px;
}
.reomnde__SecindHalf {
  text-align: right;
}
.reomnde__SecindHalf > input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 15px;
  border: 5px solid black;
  outline: none;
  width: 330px;
  margin-bottom: 3px;
}
.reomnde__SecindHalf > textarea {
  outline: none;
  margin-top: 5px;
  border: 5px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
}
