.taknon {
  width: 400px;
  background-color: white;
  border-radius: 2px;
  text-align: right;
}
.taknon__data {
  display: flex;
}
.taknon__data > h5 {
  margin-right: 10px;
}
.articl {
  width: 600px !important;
}
