body {
  background-color: whitesmoke;
}
.container {
  display: flex;
  background-color: whitesmoke;
  height: 100vh;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
.container > img {
  width: 500px;
  height: 500px;
  border-radius: 999px;
}

.details {
  padding-top: 10px;
  padding-left: 200px;
  width: 300px;
}
.details > p {
  color: rgb(122, 122, 122);
  margin-top: 100px;
}
