.header{
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.container{
    position: relative;
    width: 500px;
    /* margin-left: 50px; */
}

.cart_container{
    position: relative;
    width: 500px;
    /* margin-left: 50px; */
}

.gift {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    padding: 10px;
    justify-content: center;  
    align-items: center;  
    text-align: right;
}

.gift_cart{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    padding: 10px;
    justify-content: center;  
    align-items: center;  
    text-align: right;
}

.gift_cart>img{
    width: 200px;
    height: 200px;
}

.gift>img{
    width: 200px;
    height: 200px;
}
.gift>button{
    align-items: center;  
    width: 150px;
    height: 70px;
    border-radius: 10px;
}

#GoToCart{
    position: relative;
    justify-content: center;  
    align-items: center;  
}

button{
    position: relative;
    text-align: center;
    width: 200px;
    height: 70px;
    margin-left: 50%;
    border-radius: 10px;
}

#cart_gifts>a{
    /* position: relative; */
    /* text-align: center; */
    margin-left: 50%;
}