.downArrow {
  width: 10px;
  height: 10px;
  color: black;
  position: relative;
  right: 54%;
  right: 56%;
  top: -27px;
  opacity: 0.5;
  left: 10px;
}
.jRrKCL{
  border: solid 2px black !important;
}

