.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
    margin: auto;
  } 
  
  .absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }

  
.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
  }

  