.sobhe{
    text-align: center;
    font-size: 50px;
    background-image: url(https://s1.cdn.autoevolution.com/images/gallery/Mercedes-AMG-GT-R--C-190--6456_6.jpg);
}
.sobhe:hover{
    border: black;
    
    background-color: red;
    cursor: pointer;
}