.container {
    max-width: 700px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
    background-color: black;
}

img{
    width: 100%;
    height: 100%;
}