* {
  padding: 0px;
  margin: 0px;
}

                
.photo {
    width: 40pt;
    height: 40pt;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.proname {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: 'Assistant', sans-serif;
}

.likeunlike {
  padding: 50px;
  width: fit-content;
  display: flex;
  background-color: #FFFFFF;
  position: relative;
  top: 20px;
  color: #324483;
  margin: 0 auto;
  
}
.imgdislike {
 margin-left: 200px;
}
.likeunlike>h8 {
  margin-left: 30px;
}
.likeunlike>h9 {
  margin-right: 30px;
}
.h8 {
  color: #3D4257;
  font-size: 40px;
  text-align: center;
  margin-right: 30px;
  font-weight: bold;

}
.h9 {
  color: #3D4257;
  font-weight: bold;

  font-size: 40px;
  text-align: center;
  margin-left: 30px;
}
.likedislike {
  width: 300px;
  height: 40pt;
  display: flex;
  background-color: #fafafa;
  color: #324483;
  margin: 0 auto;
  object-fit: contain;
}
.h4 {
  text-align: center;

}
.badani {
  font-weight: bold;

}
.notbadani {
  margin-left: 220px;  font-weight: bold;

  }
.bad {
  margin-left: 50px;  font-weight: bold;
}
.good {
  margin-left: 20px;  font-weight: bold;
}
.box {
  display: grid;
  flex :auto;
}
.navbar {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 20px;
  /* background-color: #2196F3; */
  /* padding: 2px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.navbar > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  /* padding: 20px 0; */
  font-size: 30px;
  /* margin-right: auto; */
}
span{
color:lightsalmon;
}


.line{
  background-color: #3d4257;
  width: 1px;
height: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
    background-color: #3d4257;
    height: 183px;
}

.App-link {
  color: #61dafb;
}
.bank {
  text-align: center;
  height: 55px;
  text-align: center;
  font-size: 18px;
  color: #B7BCCC;
  padding-top: 16px;
  font-family: 'Assistant', sans-serif;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
