.icon{
    /* border-radius: 50%; */
    /* border: solid rgba(216, 8, 8, 0.876);
    position: relative;
    width: fit-content; */
    /* margin: 1%; */
     /* --height: fit-content;  */
    width:700px;
    height:700px;
}
.icon img{
    width:700px;
    height:700px;
    /* --object-fit: cover; */

  }
  