.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  box-shadow: 0 4px 2px -2px #ccc;
}
.items {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
  color: #a2abc7;
  cursor: pointer;
}
.active {
  color: #526196;
  border-bottom: 2px solid #6270a0;
}
