.linkedIn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: #0077af;
  margin: 80px 0;
}

.jobExperience {
  display: flex;
  justify-content: space-between;
  width: 350px;
  max-width: 95%;
}
.jobExperience button {
  display: block;
  height: 35px;
  width: 70px;
  position: relative;
  top: 20px;
  background-color: #3d4257;
  border-radius: 8px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}
