body {
  background-color: #efefef;
  direction: rtl;
}
.container {
  margin-top: 70px;
  width: 87%;
  margin-left: 90px;
}
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll {
  overflow: scroll;
  height: 100px;
}
.up,
.down {
  width: 90%;
  justify-content: space-between;
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
}
