@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    direction: rtl;
}


header {
    /* background-color: #3d4257; */
    height: fit-content;
    margin-bottom: 16px;
}

.topTitle {
    height: 55px;
}

.topTitle>h3 {
    text-align: center;
    font-size: 18px;
    color: #B7BCCC;
    padding-top: 16px;
    font-family: 'Assistant', sans-serif;
}

.topTitle>span {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 18px;
    color: #B7BCCC;
}

.image {
    text-align: center;
}

.image>h2 {
    font-size: 20px;
    color: white;
    font-family: 'Assistant', sans-serif;
}

.image>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    margin-top: 27px;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.navbar>.buttons {
    padding: 11px;
    text-align: center;
    font-size: 14px;
    font-family: 'Assistant', sans-serif;
}

.borderBottom {
    border-bottom: 3px solid #324483;
}

.btn {
    padding: 14px;
    text-align: center;
    width: 90%;
    background-color: #3D4257;
    margin: 20px auto;
    border-radius: 8px;

}

.btn>a {
    color: white;
    font-size: 16px;
    font-family: 'Assistant', sans-serif;

}

