.director2{
    /* background-color: #3d4257;
    height: 330px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    justify-content: space-between;
    border-bottom: 2px solid #e2e2ea;
    /* border: 2px solid #e2e2ea; */
}

#icon1{
    /* color: green; */
}

.director2 > p {
    width: 200px;
    /* border: 2px solid #e2e2ea; */
    color: #3e4655;
    cursor: pointer;
}

.active{
    color: rgb(10, 245, 10);
    cursor: pointer;
}

.disactive{
    color: red;
    cursor: pointer;
}

.normal{
    color: #848fb5;
    cursor: pointer;
}
.info{
    color: #3e4655;
    cursor: pointer;
}