.navbar {
  display: flex;
  justify-content: space-between;
}
.items {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid #6270a0;
}
