.block {
    padding: 8px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid #E2E2EA;
}

.block>.title {
    color: #324483;
    font-size: 16px;
    font-family: 'Assistant', sans-serif;
}

.block>.link {
    color: #717480;
    font-size: 12px;
    font-family: 'Assistant', sans-serif;
}

.block>span {
    align-content: left;
}