.directorInfo{
    background-color:#3D4257;
    text-align: center;
    margin: 0%;
    margin-top: 0;
    padding: 10npx;
  
}
.directorInfo button{

    display: inline-block;
    width: 100%;
    padding: 10px 20px;
  
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#3D4257;
    border: none;
    border-radius: 15px;
}
.directorInfo img{
  object-fit: cover;
  border-radius:50%;
  width: 60px;
  height: 60px;
  margin: 5%;
  border: 1px solid white;
}

