.container{
    position: relative;
    display: flex;
    margin-right: 30px;
    /* padding: 80px; */
    /* background: rgb(72, 69, 92); */
    /* background-clip: padding-box; */
}

h{
   position: relative;
   top:50px;
   font-weight: 900;
   color: rgb(46, 42, 42);
}

img{
   width: 100px;
   height: 100px;
}

.active{
  position: relative;
  font-weight: 900;
}

.logo-image{
  position: relative;
  margin-right: auto;
}

.logo-image>img{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.logo-image>a{
  position: relative;
  color: black;
  text-decoration: none;
    list-style-type: none;
    font-size: 16px;
}


.topnav {
  display: flex;
  /* text-align: center; */
  border-bottom: solid rgb(77, 80, 90);
}


.topnav>a {
  position: relative;
  margin-left: 50px;
  color: black;
  text-decoration: none;
    list-style-type: none;
    padding:10px;
    font-size: 16px;
}

.topnav a:hover {
  border-bottom: 3px solid  rgb(72, 69, 92);
  position: relative;
}

.undernav{
  display: flex;
  margin-left: 10vh;
  margin-top: 10px;
}

.undernav>.logout{
    position: relative;  
    margin-right: auto;
    color: rgb(48, 98, 155);
    text-decoration: none;
    list-style-type: none;
}

.undernav>.maakav{
  position: relative;  
  margin-right: 10px;
  color: rgb(48, 98, 155);
  text-decoration: none;
  list-style-type: none;
}

.undernav>.split{
  position: relative;  
  margin-right: 10px;
  color: rgb(48, 98, 155);
  text-decoration: none;
  list-style-type: none;
}

.undernav>.main_page{
  position: relative;  
  color: rgb(48, 98, 155);
  text-decoration: none;
  list-style-type: none;
  margin-right: 10px;
}

.undernav>.current_page{
  position: relative;  
  color: rgb(48, 98, 155);
  text-decoration: none;
  list-style-type: none;
  margin-right: 10px;
}
