body {
  background-color: #ffffff;
}
.contaner {
  width: 390px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.contaner > p {
  text-align: center;
  margin-top: 40px;
}
.thump {
  font-size: 55px !important;
  color: #324483 !important  ;
  cursor: pointer;
}
.thumps {
  margin-top: 20px !important;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.thumpItem {
  padding: 50px;
  width: fit-content;
  margin-right: 10px;
  background-color: #fafafa;
  text-align: center;
}
.thumpItem > p {
  position: relative;
  top: 5px;
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (max-device-width: 390px) and (-webkit-min-device-pixel-ratio: 2) {
  .contaner {
    position: relative;
    top: 0px;
  }
}
