.App {
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.App-header {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: rgba(161, 37, 37, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  margin: 100px;
}
